@font-face {
  font-family: MoristonPersonal;
  src: url("/MoristonPersonal-Regular.otf") format("opentype");
}

@font-face {
  font-family: MoristonPersonal;
  font-weight: bold;
  src: url("/MoristonPersonal-Bold.otf") format("opentype");
}

:root {
  --off-white: #232223;
}
body{
  background: rgb(0, 0, 0);

}
.nav {
  // font-family: 'MoristonPersonal';
  font-family: 'Raleway', sans-serif;
  background-color: #000000;
  position : sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  // max-width: 900px;
  // padding: 0rem 3rem;
  // margin: 0 auto;
  display: flex;
  // justify-content: right;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline-block;
  justify-content: right;
  margin-left: 2rem;
  color: rgb(219, 219, 219);
  padding-inline-start: 20px;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.section {
  box-sizing:content-box  ;
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 40px 40px 40px;
}

* {
  box-sizing: border-box;
  // text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
}
ul li {
  display: inline;
  text-align: center;
  // padding-inline-start: 0px;
}
a {
  display: inline-block;
  width: 100%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
  color: rgb(216, 216, 216);
}
.two:hover ~ hr {
  margin-left: 20%;
}

.three:hover ~ hr {
  margin-left: 40%;
}

.four:hover ~ hr {
  margin-left: 62%;
}
.five:hover ~ hr {
  margin-left: 83%;
}

.one{
  // margin: 5px 10px 0px 0px;
  padding-inline-start: 0px;
}
hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}

h1{
  font-family: 'MoristonPersonal';
  width: 100%;
  // font-family: 'Raleway', sans-serif;
  text-shadow:
    -1px -1px 0 #202a37,
    1px -1px 0 #202a37,
    -1px 1px 0 #202a37,
    1px 1px 0 #202a37;
}






